/* TODO

opravit:
zkusit opravit ctrlf ve split tabech
zkusit barvu skupiny nastavit když tam neni nic nastavený
zkusit opravit mezeru v f11 nahoře
zkusit upravit označený taby ctrl (asi nejde?)



modernizace:
download menu okno
Nastavení panelu okno
smazání workspacu okno
vytváření nové web app
CTRL+E - jako workspace window? (Arc, Zen) - bacha, ovlivňuej všechny modální okna! (nastavení panelu, smazání workspacu, atd.)
jaký další modální okna???
speed dial (inspirace jinde?)



moooooooooooožnááá:
arc like pinned taby?

*/ 

:root {
    --lessTransparent: transparent 50%; /* TRANSPARENCY OF BROWSER - 50% */
    --blur: blur(15px); /* BLUR OF BROWSER */
}

/* MAINBAR */

#browser.win.address-top .toolbar-mainbar:has(.window-buttongroup.on-mainbar), #browser.linux.address-top .toolbar-mainbar:has(.window-buttongroup.on-mainbar) {
    min-height: calc(44px / var(--uiZoomLevel)); /* HEIGHT OF MAINBAR */
}

.density-on .UrlBar-SearchField, .density-on .UrlBar-AddressField {
    height: 34px; /* HEIGHT OF URL BAR */
}

.disable-titlebar#browser.win .window-buttongroup {
    height: 44px; /* HEIGHT OF WINDOW BUTTONS */
}

.mainbar {
    background-color: color-mix(in srgb, var(--colorBg), var(--lessTransparent)); /* BG COLOR OF WHOLE MAINBAR */
    backdrop-filter: var(--blur);
    -webkit-backdrop-filter: var(--blur);
    margin: 5px;
    border-radius: var(--radius);
    z-index: 10;
}

.SearchField, .UrlBar-AddressField { /* SEARCHBAR SETTINGS */
    border: none !important;
    background-color: transparent;
}

.SearchField:hover, .UrlBar-AddressField:hover { /* HOVER OF SEARCHBAR */
    background-color: var(--colorBg);
}

.color-behind-tabs-on .SearchField:focus-within, .color-behind-tabs-on .MailSearchField-Inner:focus-within, .color-behind-tabs-on .UrlBar-AddressField:focus-within {
    outline: none; /* REMOVE OF SEARCHBAR BORDER WHEN IN FOCUS */
    background-color: var(--colorBg);
}

.UrlFragment-Wrapper--ShouldHighlight {
    --HighlightColor: var(--colorFg); /* FONT COLOR OF www.GOOGLE.com */
    --LowlightColor: var(--colorFg); /* FONT COLOR OF WWW.google.COM */
}

.address-top .mainbar {
    border-bottom: none; /* REMOVE BORDER UNDER MAINBAR */
}

.mainbar button:hover { /* HOVER OF MAINBAR BUTTONS */
    background-color: var(--colorBg);
}

#browser:not(.tabs-top) .vivaldi:hover, #browser:not(.tabs-top) .vivaldi:focus-visible { /* HOVER OF HAMBURGER BUTTON */
    background-color: var(--colorBg);
}

.disable-titlebar.address-top#browser:not(.tabs-top) .vivaldi {
    margin: 0 5px; /* REDUCING SPACE NEXT TO HAMBURGER */
}

button.ToolbarButton-Button[name="TilingToggle"] { /* FIXING SPACE NEXT TO TAB TILING ICON */
    margin-left: 3px;
    margin-right: 4px;
}

.toolbar > .button-toolbar.button-on, .toolbar > .toolbar-group .button-toolbar.button-on, .toolbar > .button-toolbar > .button-on.button-on, .toolbar > .toolbar-group .button-toolbar > .button-on.button-on {
    fill: var(--colorFg); /* CHANGING COLOR FROM HIGHLIGHT */
    color: var(--colorFg);
}

.color-behind-tabs-on .toolbar-mainbar .toolbar-extensions > .button-toolbar > button.button-pressed, .color-behind-tabs-on .toolbar-mainbar .page-zoom-controls > .button-toolbar > button.button-pressed, .color-behind-tabs-on .toolbar-mainbar > .button-toolbar > button.button-pressed {
    background-image: linear-gradient(var(--colorBg),var(--colorBg)); /* CHANGE COLOR WHEN ICON IS ACTIVE */
}

#browser.win .window-buttongroup button:hover {
    background-color: var(--colorBg); /* HOVER OF WINDOW BUTTONS */
}

.theme-dark#browser.win .window-buttongroup button:hover {
    background-color: var(--colorBg); /* HOVER OF WINDOW BUTTONS DARK THEME */
}

#browser.win .window-buttongroup button.window-close:hover {
    background-color: var(--colorBg); /* HOVER OF WINDOW CLOSE BUTTON */
    fill: var(--colorFg);
}

#browser.win .window-buttongroup button.window-close { /* ADJUSTING CLOSE WINDOW BUTTON */
    border-top-right-radius: var(--radius);
    border-bottom-right-radius: var(--radius); 
}

.button-toolbar > button { /* HOVER OF ICONS IN URL */
    border: none;
}

.BookmarkButton:hover { /* HOVER OF BOOKMARK BUTTON IN URL */
    border-color: transparent;
}

/* SIDEBAR */

#switch {
    padding-top: 5px; /* ADJUSTING SPACE ABOVE SIDEBAR ICONS */
}

.toolbar, .toolbar-group, .toolbar-wrap {
    gap: 5px; /* ADJUSTING GAP BETWEEN ICONS */
}

div#main.right #panels-container {
    padding-bottom: 5px; /* MORE SPACE UNDER SETTINGS ICON */
    min-width: 44px; /* FIXING SIDEBAR PART 1 */
}

.density-on #switch { /* FIXING SIDEBAR PART 2 + ADJUSTING */
    background-color:  color-mix(in srgb, var(--colorBg), var(--lessTransparent));
    backdrop-filter: var(--blur);
    -webkit-backdrop-filter: var(--blur);
    border-radius: var(--radius);
    padding-bottom: 5px;
    padding-right: 4px;
    min-width: 44px;
}

#panels-container { /*FIXING SIDEBAR PART 3 */
    background-color: transparent;
    margin-right: 5px;
}

#panels-container.right:not(.icons) .panel-group, #panels-container.right.icons:not(:has(.SlideBar)) {
    border-left: none; /* HIDE WEIRD BORDER IN SIDEBAR */
}

.ExtensionToggleIcon.ExtensionToggleIcon--Expanded {
    background-color: transparent; /* TRANSPARENT BG COLOR FROM EXTENSION BUTTON */
}

.ExtensionIcon--Hidden { /* ADJUSTING HIDDEN EXTENSIONS */
    background-color: transparent;
}

#panels-container button:hover { /* HOVER OF BUTTONS ON SIDEBAR */
    background-color: var(--colorBg);
}

.ExtensionIcon--Hidden:hover, .ExtensionIcon--Hidden:active { /* HOVER OF HIDDEN EXTENSIONS */
    background-color: var(--colorBg);
    border-radius: var(--radius);
}

.density-on#browser .toolbar-vertical .button-toolbar:not(:last-of-type) { /* ADJUSTING HIDDEN EXTENSIONS HOVER */
    padding-bottom: 0px;
    height: 34px;
}

.toolbar-panel > .button-toolbar > button.button-pressed, .toolbar-panel .toolbar-extensions .button-toolbar > button.button-pressed, .toolbar-panel .page-zoom-controls .button-toolbar > button.button-pressed {
    background-color: var(--colorBg); /* CHANGING BG COLOR AND ICON COLOR WHEN DOWNLOAD ICON IS ACTIVE */
}

.density-on #switch .addwebpanel-wrapper > button.active button, .density-on #switch > .button-toolbar.active button, .density-on #switch > * > .button-toolbar.active button, .density-on #switch > button.active button {
    background-color: var(--colorBg); /* CHANGING BG COLOR AND ICON COLOR WHEN BOOKMARK ICON IS ACTIVE */
}

/* WEB PANELS */

#panels-container.right .panel {
    padding: 5px 13px 5px 5px; /* ADJUSTING ALL PANELS  PART 1 */
}

.panel .outerScrollbar {
    margin-right: 0px; /* ADJUSTING ALL PANELS PART 2 */
}

.panel-group { /* ADJUSTING ALL PANELS PART 3 */
    background-color: color-mix(in srgb, var(--colorBg), var(--lessTransparent)); 
    backdrop-filter: var(--blur);
    -webkit-backdrop-filter: var(--blur);
    border-radius: var(--radius);
    margin-right: 5px;
}

.panel > header h1 { /* REMOVING TITLE OF PANELS */
    display: none;
}

#panels-container.right:not(.icons).overlay .panel-group {
    box-shadow: none; /* REMOVING LEFT SHADOW */
}

#panels-container.overlay .panel-group {
    background-color: transparent;  /* TRANSPARENT BG WHEN OPENED WEB APP */
}

#panels .webpanel-stack .webpanel .webpanel-content { /* ADJUSTING WEB APP */
    margin-right: 7px;
    border-bottom-right-radius: var(--radius);
    border-top-right-radius: var(--radius);
}

#panels .webpanel-stack .webpanel.visible { /* FIXING WEB APPS PANELS */
    visibility: visible;
    padding: 0px;
}

.panel > header {
    margin-bottom: -1px; /* ADJUSTING GAP UNDER SEARCH BAR */
}

.vivaldi-tree .tree-row.dragover, .hasfocus .vivaldi-tree:focus-within .tree-row[data-selected] { /* BG COLOR OF SELECTED ITEM WHEN BROWSER IS IN FOCUS */
    background-color:  color-mix(in srgb, var(--colorBg), var(--lessTransparent));
    color: var(--colorFg);
}

.vivaldi-tree .tree-row[data-selected] { /* BG COLOR OF SELECTED ITEM WHEN BROWSER ISNT IN FOCUS */
    background-color:  color-mix(in srgb, var(--colorBg), var(--lessTransparent));
}

.win.hasfocus .vivaldi-tree .VivaldiList:focus-within .tree-item[data-lead] .tree-row.tree-row, .linux.hasfocus .vivaldi-tree .VivaldiList:focus-within .tree-item[data-lead] .tree-row.tree-row {
    box-shadow: none; /* REMOVING BORDER OF SELECTED ITEM */
}

.panel-group .sortselector.sortselector-compact, .download-popout .sortselector.sortselector-compact {
    border: none; /* REMOVING BORDER OF SORT */
}

.panel-group .sortselector.sortselector-compact .sortselector-dropdown, .download-popout .sortselector.sortselector-compact .sortselector-dropdown {
    border-radius: var(--radius); /* BORDER RADIUS OF SORT */
}

.sortselector {
    background-color: color-mix(in srgb, var(--colorBg), var(--lessTransparent)); /* BG COLOR OF SORT */
    height: calc(var(--treeViewRowHeight) - 4px); /* FIXING SORT */
}

.sortselector.sortselector-compact:hover { /* HOVER OF SORT */
    background-color: var(--colorBg);
}

.toolbar-default .button-toolbar > button:enabled { /* REMOVING BG OF BUTTONS */
    background-image: none;
}

.toolbar-group > .button-toolbar:not(:last-child) > button, .toolbar-group hr:not(:last-child) > button { /* BORDER RADIUS FOR BUTTONS PART 1 */
    border-top-right-radius: var(--radius);
    border-bottom-right-radius: var(--radius); 
}

.toolbar-group > .button-toolbar + .button-toolbar > button, .toolbar-group hr + .button-toolbar > button { /* BORDER RADIUS FOR BUTTONS PART 2 */
    border-top-left-radius: var(--radius);
    border-bottom-left-radius: var(--radius);
}

.panel input, .find-in-page input {
    background-color: color-mix(in srgb, var(--colorBg), var(--lessTransparent)); /* BG COLOR OF SEARCH BAR IN PANELS AND CTRL+F */
}

/* BOOKMARKS PANEL */

.item-count, .tree-item .nickname {
    background-color:  color-mix(in srgb, var(--colorBg), var(--lessTransparent)); /*BG COLOR OF ITEM COUNT */
}

.panel-bookmarks .panel-bookmarks-edit {
    display: none; /* REMOVING BOTTOM PART */
}

/* DOWNLOAD PANEL */

.toolbar-default .button-toolbar > button:disabled {
    background-color: transparent; /* REMOVING BG OF DISABLED ICONS */
}

.hasfocus .vivaldi-tree:focus-within .tree-row[data-selected] .ActionButton svg {
    fill: var(--colorFg); /* COLOR OF FOLDER ICON OF SELECTED ITEM WHEN BROWSER IS FOCUSED */
}

.download-editor.download-editor {
    display: none; /* REMOVING BOTTOM PART */
}

input.circular, button.circular { /* ADJUSTING RADIUS OF HOVER OF DOWNLAOD FOLDER ICON */
    border-radius: var(--radiusHalf);
}

.sortselector.sortselector-compact .sortselector-button { /* REMOVING BORDER IN SORT */
    border-left: none;
}

/* CALENDAR PANEL */

.panel > header > .toolbar + .toolbar {
    margin-top: 5px; /* ADJUSTING GAP OF EVERYTING IN HEADER */
}

.panel .calendar-grid-agenda {
    margin-top: 6px; /* ADJUSTING GAP ABOVE EVENTS IN AGENDA */
}


.FilterAndSearch-Input.FilterAndSearch-Input { /* RADIUS OF SEARCH BAR */
    border-top-right-radius: var(--radius);
    border-bottom-right-radius: var(--radius);
}

.FilterAndSearch-Button.FilterAndSearch-Button { /* RADIUS OF SEARCH BUTTON */
    border-top-left-radius: var(--radius);
    border-bottom-left-radius: var(--radius);
}

#calendar_panel input[type=button]:not(.circular), #calendar_panel input[type=submit], #calendar_panel input[type=color], #calendar_panel .FormButton { /* BG COLOR OF SEARCH BUTTON */
    background-image: none;
    backdrop-filter: var(--blur);
    -webkit-backdrop-filter: var(--blur);
}

.DatePickerPopup {
    background-color:  color-mix(in srgb, var(--colorBg), var(--lessTransparent)); /* BG COLOR OF SELECTING WEEK WINDOW  PART 1 */
}

.DatePickerPopup .toolbar {
    background-color: transparent; /* BG COLOR OF SELECTING WEEK WINDOW  PART 2 */
}

.button-popup-arrow-dark:before {
    border-bottom-color: transparent; /* REMOVING ARROW */
}

#calendar_panel .PeriodPicker.PeriodPicker { /* FIXING BG OF PERIOD PICKER */
    border-color: transparent;
    background-image: none;
    backdrop-filter: var(--blur);
    -webkit-backdrop-filter: var(--blur);
}

.toolbar-default .button-toolbar > button:enabled.button-pressed { /* FIXING ACTIVE BUTTON */
    background-image: none;
    backdrop-filter: var(--blur);
    -webkit-backdrop-filter: var(--blur);
}

#panels #calendar_panel .cal-tasks-row, #panels #tasks_panel .cal-tasks-row {
    background-color:  color-mix(in srgb, var(--colorBg), var(--lessTransparent)); /* BG COLOR OF EVENTS IN AGENDA */
}

.calendar-grid-agenda .cal-tasks-row {
    border-bottom: none; /* REMOVING BORDER OF EVENTS IN AGENDA */
}

.theme-dark .panel .SlideBar--FullWidth.alternate {
    display: none; /* REMOVING SEPARATOR  DARK MODE */
}

.panel .SlideBar--FullWidth.alternate {
    display: none; /* REMOVING SEPARATOR  LIGHT MODE */
}

.MonthDayPicker {
    margin-bottom: 0px; /* FIXING BOTTOM PART */
    background-color:  color-mix(in srgb, var(--colorBg), var(--lessTransparent)); /* BG OF BOTTOM CALENDAR */
}

.CalendarPanel-MiniCalendar {
    padding-top: 5px; /* ADJUSTING SPACE ABOVE BOTTOM CALENDAR */
}

.MonthDayPicker-Header {
    padding-top: 3px; /* ADJUSTING PADDING OF HEADER IN BOTTOM CALENDAR */
}

.MonthDayPicker-Header h2 { /* ADJUSTING POSITION OF MONTH IN BOTTOM CALENDAR */
    font-weight: normal;
    padding-right: 5px;
}

.MonthDayPicker-Day--SelectedWeek {
    border-radius: var(--radiusHalf); /* RADIUS OF SELECTED WEEK IN BOTTOM CALENDAR */
}

.calendar-grid-days.calendar-grid-week { 
    margin-top: 6px; /* ADDING MARGIN TO WEEK CALENDAR */
}

.calendar-grid {
    gap: 5px; /* ADJUSTING GAP OF WEEK CALENDAR */
}

.calendar-grid-days .calendar-drop-target {
    border-radius: var(--radius); /* RADIUS OF DAYS IN WEEK CALENDAR */
    border: none; /* ADJUSTING HIGHLIGHTED DAY IN WEEK CALENDAR  PART 1 */
}

.calendar-grid-days .calendar-drop-target .day.current { /* ADJUSTING HIGHLIGHTED DAY IN WEEK CALENDAR  PART 2 */
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.calendar-grid .calendar-drop-target { /* BG COLOR OF DAYS IN WEEK CALENDAR PART 1 */
    background-color:  color-mix(in srgb, var(--colorBg), var(--lessTransparent));
}

.calendar-grid .calendar-drop-target.weekend { /* BG COLOR OF DAYS IN WEEK CALENDAR PART 2 */
    background-color:  color-mix(in srgb, var(--colorBg), var(--lessTransparent));
}

.calendar-add-event-button { /* BG COLOR OF DAYS IN WEEK CALENDAR PART 3 */
    background-image: none;
}

.calendar-add-event-button { /* REMOVING BORDER AND CHANGING RADIUS IN WEEK CALENDAR */
    border: none;
    border-radius: var(--radius);
}

.calendar-grid-day { /* ADJUSTING POSITION OF MIDDLE PART IN DAY CALENDAR */
    margin-top: 6px;
}

.calendar-grid .calendar-header-date { /* ADDING RADIUS TO HEADER IN DAY CALENDAR */
    outline: none;
    border-radius: var(--radius);
}

/* MAIL PANEL */

.toolbar-group > hr {
    display: none; /* REMOVING HR BETWEEN BUTTONS */
}

/* WORKSPACES */

.color-behind-tabs-on #tabs-tabbar-container .toolbar:not(.toolbar-small) > .button-toolbar, .color-behind-tabs-on #tabs-tabbar-container .toolbar:not(.toolbar-small) > div > .button-toolbar, .color-behind-tabs-on #tabs-tabbar-container .toolbar:not(.toolbar-small) > .button-toolbar:hover, .color-behind-tabs-on #tabs-tabbar-container .toolbar:not(.toolbar-small) > div > .button-toolbar:hover {
    color: var(--colorFg);
    margin-top: 5px;
} /* ADJUSTING WORKSPACE BUTTON */

.tabs-left .button-toolbar.workspace-popup.tabbar-workspace-button, .tabs-right .button-toolbar.workspace-popup.tabbar-workspace-button {
    background-color: transparent; /* BG OF WORKSPACE BUTTON */
}

#tabs-tabbar-container .toolbar:not(.toolbar-small) > .button-toolbar > button:active, #tabs-tabbar-container .toolbar:not(.toolbar-small) > div > .button-toolbar > button:active, #tabs-tabbar-container .toolbar:not(.toolbar-small) > .button-toolbar:not(.toolbar-spacer, .toolbar-spacer-flexible) > button:not([disabled]):hover, #tabs-tabbar-container .toolbar:not(.toolbar-small) > div > .button-toolbar:not(.toolbar-spacer, .toolbar-spacer-flexible) > button:not([disabled]):hover {
    background-color: var(--colorBg); /* HOVER OF WORKSPACES */
}

.tabs-left #tabs-container:has(.tab-strip.overflow) .toolbar-tabbar-before, .tabs-left #tabs-container:has(.tab-strip.overflow) .toolbar-tabbar-after, .tabs-right #tabs-container:has(.tab-strip.overflow) .toolbar-tabbar-before, .tabs-right #tabs-container:has(.tab-strip.overflow) .toolbar-tabbar-after {
    padding: 0px 0px 3px 6px; /* FIXING SPACE WHEN MANY TABS */
}

/* TABS */

#browser .tabbar-wrapper, #browser.tabs-top #header {
    background-color: transparent; /* BG COLOR OF TAB BAR PART 1 */
}

#browser:not(.transparent-tabbar) #tabs-tabbar-container {
    background-color: color-mix(in srgb, var(--colorBg), var(--lessTransparent)); /* BG COLOR OF TAB BAR PART 2 */
    backdrop-filter: var(--blur);
    -webkit-backdrop-filter: var(--blur);
    margin-left: 5px;
    border-radius: var(--radius);
}

.tabs-left .tabbar-wrapper { /* BG COLOR OF TAB BAR PART 3 */
    margin-bottom: 5px;
}

.color-behind-tabs-on .tab {
    color: var(--colorFg); /* FONT COLOR OF NON ACTIVE TAB */
}

.density-on .tab.active:not(.tab-in-accordion, .tab-accordion) {
    box-shadow: none; /* REMOVE SHADOW UNDER ACTIVE TAB */
}

.tabs-left .tab-audio, .tabs-right .tab-audio { /* AUDIO ICON */
    margin-left: 5px; 
    margin-top: -1px;
}

.separator hr { /* ADJUSTING SEPARATOR UNDER PINNED TABS */
    border: 1px solid color-mix(in srgb, var(--colorBg), var(--lessTransparent));
    background: color-mix(in srgb, var(--colorBg), var(--lessTransparent));
    opacity: 0.2;
    width: 100%;
    margin-top: 6px;
} 

@media not (prefers-contrast: more) { /* HIDE TAB SCROLLBAR */
    ::-webkit-scrollbar {
      display: none;
    }
}

#tabs-container.left:has(.tab-strip.overflow), #tabs-container.right:has(.tab-strip.overflow) {
    padding-right: 6px; /* FIXING SPACE NEXT TO TAB WHEN MANY TABS */
}

#tabs-tabbar-container {
    padding: 0px;  /* ADDING SPACE NEXT TO TABS */
}

#browser.color-behind-tabs-on .tab.active.active { /* BG OF ACTIVE TAB */
    background-color: var(--colorBg);
}

#tabs-container .tab:not(.tab-group,.tab.active):hover { /* HOVER OF TABS */
    background-color: var(--colorBg);
}

#browser:not(.theme-dark) #tabs-tabbar-container.left { /* HIDE WEIRD BORDER BETWEEN TAB SECTION AND WEB PAGE */
    box-shadow: none;
}

.tab.active .favicon {
    filter: none !important; /* HIDE FAVICON WHITE BORDER */
}

#browser .tab-position.colored .tab:not(.active) {
    background-color: color-mix(in srgb, var(--colorBg), var(--lessTransparent));  /* BG COLOR OF TAB GROUP  */
    color: var(--colorFg);
}

#browser .tab-position.colored.accordion-toggle-arrow:hover, #browser .tab-position.colored .tab:not(.active):hover {
    background-color: var(--colorBg);  /* BG COLOR OF HOVER TAB IN GROUP */ 
}

#browser .tab-position.colored.accordion-toggle-arrow, #browser .tab-position.colored .tab.active {
    background-color: var(--colorBg);  /* BG COLOR OF ACTIVE TAB IN GROUP */ 
} 

#browser .tab-position.colored.accordion-toggle-arrow { /* ARROW SETTINGS */
    background-color: color-mix(in srgb, var(--colorBg), var(--lessTransparent));
    color: var(--colorFg);
}

#browser .tab-position.colored .tab:not(.marked) + svg .stack-frame {
    stroke: transparent; /* BORDER COLOR OF TAB GROUP */
}

#browser .tab-position.colored .stack-counter {
    background-color: var(--colorHighlightBg); /* BG COLOR OF TAB GROUP NUMBER */
    color: var(--colorAccentBg);
}

.tabs-left #tabs-container .toolbar-tabbar-after, .tabs-right #tabs-container .toolbar-tabbar-after {
    margin-top: -2px; /* ADJUSTING NEW TAB ICON */
    margin-bottom: -10px;
}

/* NEW TRASH + CLOUD ICONS */

button.ToolbarButton-Button[name="TabsTrash"] span,
button.ToolbarButton-Button[name="SyncedTabs"] span {
    display: none !important;
}

button.ToolbarButton-Button[name="TabsTrash"]::after,
button.ToolbarButton-Button[name="SyncedTabs"]::after {
    content: "";
    display: inline-block;
    width: 28px;
    height: 28px;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: contain;
    -webkit-mask-position: center;
    background-color: var(--colorFg);
}

button.ToolbarButton-Button[name="TabsTrash"]::after {
    -webkit-mask-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-204.8 -204.8 1433.6 1433.6'><path d='M832 384H192v448h640V384zM96 320h832V128H96v192zm800 64v480a32 32 0 0 1-32 32H160a32 32 0 0 1-32-32V384H64a32 32 0 0 1-32-32V96a32 32 0 0 1 32-32h896a32 32 0 0 1 32 32v256a32 32 0 0 1-32 32h-64zM416 512h192a32 32 0 0 1 0 64H416a32 32 0 0 1 0-64z'/></svg>");
}

button.ToolbarButton-Button[name="SyncedTabs"]::after {
    -webkit-mask-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-204.8 -204.8 1433.6 1433.6'><path d=\'M737.216 357.952 704 349.824l-11.776-32a192.064 192.064 0 0 0-367.424 23.04l-8.96 39.04-39.04 8.96A192.064 192.064 0 0 0 320 768h368a207.808 207.808 0 0 0 207.808-208 208.32 208.32 0 0 0-158.592-202.048zM752.384 295.731a272.32 272.32 0 0 1 207.36 264.269 271.808 271.808 0 0 1-271.552 272H320a256 256 0 0 1-57.536-505.536 256.128 256.128 0 0 1 489.92-30.72z\'/></svg>");
}

button.ToolbarButton-Button[name="SyncedTabs"]::before {
    -webkit-mask-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-204.8 -204.8 1433.6 1433.6'><path d=\'M737.216 357.952 704 349.824l-11.776-32a192.064 192.064 0 0 0-367.424 23.04l-8.96 39.04-39.04 8.96A192.064 192.064 0 0 0 320 768h368a207.808 207.808 0 0 0 207.808-208 208.32 208.32 0 0 0-158.592-202.048zM752.384 295.731a272.32 272.32 0 0 1 207.36 264.269 271.808 271.808 0 0 1-271.552 272H320a256 256 0 0 1-57.536-505.536 256.128 256.128 0 0 1 489.92-30.72z\'/></svg>");
}

button.ToolbarButton-Button[name="SyncedTabs"] span::before {
    -webkit-mask-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-204.8 -204.8 1433.6 1433.6'><path d=\'M737.216 357.952 704 349.824l-11.776-32a192.064 192.064 0 0 0-367.424 23.04l-8.96 39.04-39.04 8.96A192.064 192.064 0 0 0 320 768h368a207.808 207.808 0 0 0 207.808-208 208.32 208.32 0 0 0-158.592-202.048zM752.384 295.731a272.32 272.32 0 0 1 207.36 264.269 271.808 271.808 0 0 1-271.552 272H320a256 256 0 0 1-57.536-505.536 256.128 256.128 0 0 1 489.92-30.72z\'/></svg>");
}

#tabs-container .toolbar-tabbar-before > div > .button-toolbar > button, #tabs-container .toolbar-tabbar-after > div > .button-toolbar > button, #tabs-container .toolbar-tabbar-before > .button-toolbar > button, #tabs-container .toolbar-tabbar-after > .button-toolbar > button {
    height: 34px;
    min-width: 34px;
    padding: 0;
} /* BIGGER HOVER EFFECT OF TRASH AND CLOUD */

/* INNER ROUND BORDERS */

#browser:not(.fullscreen) #webpage-stack {
    border-radius: var(--radius);
    margin: 0px 5px 5px 5px;
}

/* TAB TILES MODE */

#browser .tile:has(> .tiled.webpageview) { /* REMOVED DEFAULT BEHAVIOUR */
  border: 0 solid transparent;
}

#browser .tiled:not(.webpageview) { /* INSTEAD OF DEFAULT BEHAVIOR IS GAP */
  gap: 9px;
}

#browser:not(.inner, .narrow-tiling) #webpage-stack > .tiled.visible {
    box-shadow: inset 0 0 0 var(--n6) transparent; /* REMOVING SOME WEIRD SHADOW */
}

.hasfocus .webpageview.tiled.active {
    box-shadow: 0 0 0 2px var(--colorFg); /* CHANGING COLOR OF BORDER OF ACTIVE WHEN BROWSER IS FOCUSED */
}

.isblurred .webpageview.tiled.active {
    box-shadow: 0 0 0 2px var(--colorFg); /* CHANGING COLOR OF BORDER OF ACTIVE WHEN BROWSER ISNT FOCUSED */
}

.webpageview.tiled:not(.active) {
    box-shadow: 0 0 0 2px color-mix(in srgb, var(--colorBg), var(--lessTransparent)); /* CHANGING COLOR OF BORDER OF NON ACTIVE */
}

/* SPEED DIAL */

.SpeedDial--Thumbnail { /* BG COLOR OF TITLE */
    background-color: color-mix(in srgb, var(--colorBg), var(--lessTransparent));
    backdrop-filter: var(--blur);
    -webkit-backdrop-filter: var(--blur);
    box-shadow: none;
}

.SpeedDialView-Settings { /* ADJUSTING SETTINGS OF SPEED DIAL */
    border-radius: var(--radius);
    background-color:  color-mix(in srgb, var(--colorBg), var(--lessTransparent));
    backdrop-filter: var(--blur);
    -webkit-backdrop-filter: var(--blur);
}

.SpeedDialView-Settings .close { /* REMOVING BG AROUND CLOSE BUTTON */
    background-color: transparent;
}

.SpeedDialView-Settings .close:hover { /* REMOVING HOVER BG AROUND CLOSE BUTTON */
    background-color: transparent;
}

.SpeedDialView-Settings a:-webkit-any-link { /* COLOR OF LINK */
    color: var(--colorFg);
}

.SpeedDialView-Settings hr { /* HIDING HR IN SPEED DIAL SETTINS */
    border: transparent;
}

.SpeedDialView-Settings input:not(.Switch-Input) {
    background-color:  color-mix(in srgb, var(--colorBg), var(--lessTransparent)); /* CHANING BG COLOR OF SELECT IMAGE PART 1 */
}

.SpeedDialView-Settings input[type=button]:not(.circular):not(:disabled,:hover) {
    background-image: none; /* CHANING BG COLOR OF SELECT IMAGE PART 2 */
}

.SpeedDialView-Settings select { /* CHANGING BG COLOR OF SELECTS PART 1 */
    background-color:  color-mix(in srgb, var(--colorBg), var(--lessTransparent));
}

select:enabled:not([multiple], [size]), .SpeedDialView-Settings .VivaldiSelector:not(:focus-within) .Inner__control {
    background-image: none; /* CHANGING BG COLOR OF SELECTS PART 2 */
}

#browser .Switch .Switch-Input {
    box-shadow: none; /* REMOVING SHADOW FROM SWITCH PART 1 */
}

#browser .Switch-Input {
    box-shadow: none; /* REMOVING SHADOW FROM SWITCH PART 2 */
}

.theme-dark#browser .Switch-Input:not(:checked) { /* CHANGING BG COLOR OF UNCHECKED SWITCH DARK MODE */
    background-color: color-mix(in srgb, var(--colorBg), var(--lessTransparent));
}

#browser .Switch-Input:not(:checked) { /* CHANGING BG COLOR OF UNCHECKED SWITCH LIGHT MODE*/
    background-color: color-mix(in srgb, var(--colorBg), var(--lessTransparent));
}

#browser .Switch-Input:not(:checked) + .Switch-Button { /* CHANGING COLOR FROM DOT OF UNCHECKED SWITCH */
    background-color: var(--colorFg);
}

#browser .Switch-Button { /* REMOVING SHADOW FROM DOT OF SWITCH */
    box-shadow: none;
}

/* CTRL+F */

.find-in-page-wrapper {
    background-color: color-mix(in srgb, var(--colorBg), var(--lessTransparent)); /* BG COLOR OF CTRL F */
    backdrop-filter: var(--blur);
    -webkit-backdrop-filter: var(--blur);
    border-bottom: none;
}

input[type=tel], input[type=text], input[type=search], input[type=email], input[type=url], input[type=date], input[type=time], input[type=password], input[type=number] {
    box-shadow: none; /* REMOVE SHADOW FROM SEARCH BAR */
}

button, input, select, textarea, input[type=text], input[type=search], input[type=password], input[type=email], input[type=url], input[type=number], input[type=radio], input[type=date], input[type=time], input[type=checkbox], input[type=button], input[type=submit] {
    border-color: transparent; /* REMOVE BORDER FROM SEARCH BAR */
}

:focus-visible {
    outline: none; /* REMOVING OUTLINE FROM FOCUSED SEARCH BAR */
}

input[type=radio], input[type=checkbox] {
    box-shadow: none; /* REMOVE SHADOW FROM CHECKBOX LIGHT MODE */
    background-color:  color-mix(in srgb, var(--colorBg), var(--lessTransparent));
}

.theme-dark input[type=radio], .theme-dark input[type=checkbox] {
    background-image: none; /* REMOVE SHADOW FROM CHECKBOX DARK MODE */
    background-color:  color-mix(in srgb, var(--colorBg), var(--lessTransparent));
}

input[type=checkbox]:checked { /* BG COLOR OF CHECKED CHECKBOX */
    background-color:  color-mix(in srgb, var(--colorBg), var(--lessTransparent));
}

input[type=radio]:checked, input[type=checkbox]:checked { /* BORDER COLOR OF CHECKED CHECKBOX */
    border-color: transparent;
}

input[type=checkbox]:before, input[type=checkbox]:after { /* COLOR OF ICON IN CHECKBOX */
    background-color: var(--colorFg);
}

/* WORKSPACES WINDOW + SOME ADJUSTING FOR PAGE TILING WINDOW */

.button-popup { /* BG OF WORKSPACE WINDOW PART 1 */
    background-color:  color-mix(in srgb, var(--colorHighlightBg), var(--lessTransparent));
    backdrop-filter: var(--blur);
    -webkit-backdrop-filter: var(--blur);
    /* width: 194px; */
}

.theme-dark .WorkspacePopup { /* BG OF WORKSPACE WINDOW PART 2 DARK MODE */
    background-color: transparent;
}

.WorkspacePopup { /* BG OF WORKSPACE WINDOW PART 2 LIGHT MODE */
    background-color: transparent;
}

.WorkspacePopup-Items .workspace-item-wrapper .checkmark, .WorkspacePopup-Items .this-window .checkmark { /* ADJUSTING CHECKMARK OF ACTIVE WORKSPACE */
    margin-right: 11px;
    margin-top: 3px;
    fill: var(--colorFg);
}

.theme-dark .WorkspacePopup-Items .workspace-item-wrapper, .theme-dark .WorkspacePopup-Items .this-window { /* BG OF WORKSPACES DARK MODE */
    background-color: transparent;
    padding: 4px;
}

.WorkspacePopup-Items .workspace-item-wrapper, .WorkspacePopup-Items .this-window { /* BG OF WORKSPACES LIGHT MODE */
    background-color: transparent;
    padding: 4px;
}

.WorkspacePopup-Items .workspace-item-wrapper .title .tab-count, .WorkspacePopup-Items .this-window .title .tab-count {
    color: var(--colorFg); /* FONT COLOR OF NUMBER OF TABS */
}

.button-popup-right.button-popup-arrow-dark:before {
    border-bottom-color: transparent; /* REMOVING ARROW */
}

.WorkspacePopup .button-toolbar > button { /* BG COLOR OF NEW WORKSPACE BUTTON PART 1 */
    background-color: color-mix(in srgb, var(--colorBg), var(--lessTransparent));
}

.WorkspacePopup .FormButton { /* BG COLOR OF NEW WORKSPACE BUTTON PART 2 */
    background-image: none;
}

.WorkspacePopup-Items hr { /* AJDUSTING MARGIN OF SEPARATOR */
    margin-top: 5px;
    margin-bottom: 1px;
}  

:not(:active, .workspace-item-wrapper).WorkspacePopup-Items .workspace-item-wrapper:hover { /* REMOVING HOVER FROM EDITOR OF BG PART 1 */
    background-color:  transparent;
}

.WorkspacePopup-Items .workspace-item-wrapper:hover:not(.Workspace-Editor.workspace-item-wrapper) { /* REMOVING HOVER FROM EDITOR OF BG PART 2 */
    background-color: var(--colorBg) !important;
}

.WorkspacePopup-Items .workspace-item-wrapper input:focus, .WorkspacePopup-Items .workspace-item-wrapper input { /* CHANGING BG COLOR OF INPUT BAR OF NEW WORKSPACE NAME */
    background-color: color-mix(in srgb, var(--colorBg), var(--lessTransparent));
}

.Workspace-Editor.workspace-item-wrapper .workspace-buttons { 
    border: none; /* REMOVING BORDER AROUND ICON EMOJI BUTTONS */
}

.Workspace-Editor.workspace-item-wrapper .workspace-buttons input.active { /* CHANGING BG COLOR OF ACTIVE ICON EMOJI BUTTON */
    background-color: var(--colorBg);
}

.Workspace-Editor.workspace-item-wrapper .workspace-buttons input { /* CHANGING BG COLOR OF NON-ACTIVE ICON EMOJI BUTTON */
    background-color: color-mix(in srgb, var(--colorBg), var(--lessTransparent));
}

.Workspace-Editor.workspace-item-wrapper .workspace-buttons input:hover { /* CHANGING HOVER OF BG COLOR OF NON-ACTIVE ICON EMOJI BUTTON */
    background-color: var(--colorBg);
}

.Workspace-Editor.workspace-item-wrapper input[type=button]:not(.circular) { /* REMOVING BG IMAGE OF ICON EMOJI BUTTON */
    background-image: none;
}

.Workspace-Editor.workspace-item-wrapper .workspaces input[type='text'] { /* ADJUSTING INPUT ANY EMOJI */
    border: none;
    background-color:  color-mix(in srgb, var(--colorBg), var(--lessTransparent));
}

.WorkspacePopup input { /* CHANING BG COLOR OF BUTTONS IN CREATE NEW WORKSPACE PART 1 */
    background-color: color-mix(in srgb, var(--colorBg), var(--lessTransparent));
}

.WorkspacePopup input[type=button]:not(.circular) { /* CHANING BG COLOR OF BUTTONS IN CREATE NEW WORKSPACE PART 1 */
    background-image: none;
}

.WorkspacePopup input[type=button]:not(.circular).primary { /* ADJUSTING CREATE BUTTON */
    color: var(--colorFg);
    border-color: transparent;
}

.WorkspacePopup input[type=button]:not(.circular).primary:hover { /* ADJUSTING HOVER OF CREATE BUTTON */
    color: var(--colorFg);
    background: var(--colorBg);
    border-color: transparent;
}

.Workspace-Editor.workspace-item-wrapper .workspaces input[type='submit'] { /* REMOVING BORDER OF DONE BUTTON */
    border-color: transparent;
}

.WorkspacePopup input[type=submit] { /* ADJUSTING DONE BUTTON */
    background-image: none;
}

/* PAGE TILING WINDOW */

.button-popup.ToolbarButtonPopup-DefaultStyles h2 { /* ADJUSTING PAGE TILING H2 */
    background-color: transparent;
    border-bottom: none;
}

.button-popup-arrow-light:before { /* REMOVING ARROW */
    border-bottom-color: transparent;
}

/* CALENDAR NOTIFICATIONS */

#modal-bg.calendar-alarm { /* REMOVING COLOR WHICH MADE BROWSER DARKER WHEN NOTIFICATION SHOWS */
    background-color: transparent;
}

.CalendarNotifications { /* ADJUSTING BG OF CALENDAR NOTIFICATION */
    background-color:  color-mix(in srgb, var(--colorHighlightBg), var(--lessTransparent));
    backdrop-filter: var(--blur);
    -webkit-backdrop-filter: var(--blur);
}

.dialog-footer { /* REMOVING BORDER AND BG COLOR  OF FOOTER OF NOTIFICATION*/
    background-color: transparent;
    border-top: none;
}

.dialog-header { /* ADJUSTING PADDING OF HEADER */
    padding: 12px 12px 5px;
}

.CalendarNotification-Content { /* ADJUSTING MARGIN OF NAME OF EVENT */
    margin: 0 5px 0 5px;
}

.dialog-double-header, .dialog-content, .dialog-footer { /* ADJUSTING PADDING OF FOOTER */
    padding: 12px 12px;
}

.calendar-alarm input, .calendar-alarm select { /* CHANGING COLOR OF BUTTONS PART 1 */
    background-color:  color-mix(in srgb, var(--colorBg), var(--lessTransparent));
}

.calendar-alarm input[type=button]:not(.circular) { /* CHANGING COLOR OF BUTTONS PART 2 */
    background-image: none;
}

.calendar-alarm input[type=button]:not(.circular).primary { /* ADJUSTING DISMISS BUTTON */
    color: var(--colorFg);
    border-color: transparent;
}

.calendar-alarm input[type=button]:not(.circular).primary:hover { /* ADJUSTING HOVER OF DISMISS BUTTON */
    background: var(--colorBg);
    border-color: transparent;
}
